<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
</head>
<body>
    <%- include('partials/_header') %>
    <%- include('partials/_nav') %>
    <main>
        <header>
            <h1><%= site.name %></h1>
            <h2><%= site.description %></h2>
        </header>
        
        <section>
            <h2>A Sample Collection</h2>

            <ul>
                <% if (collections.blog) { %>
                    <% collections.blog.forEach(post => { %>
                        <li>
                            <a href="<%= post.path %>"><%= post.config.title || 'Untitled' %></a>
                            <% if (post.config.tags && post.config.tags.length > 0) { %>
                                <p>Tags:</p>
                                <ul>
                                    <% post.config.tags.forEach(tag => { %>
                                        <li><%= tag %></li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No blog posts found.</li>
                <% } %>
            </ul>

        </section>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>
