<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('/templates/partials/_head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('/templates/partials/_header') %>
    <%- include('/templates/partials/_nav') %>
    <main>
        <article>
            <header>
                <h1><%= title %></h1>
            </header>
            <section>
                <%- content %>
            </section>
        </article>
    </main>
    <%- include('/templates/partials/_footer') %>
</body>
</html>
