<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('partials/_header') %>
    <%- include('partials/_nav') %>
    <main>
        <article>
            <header>
                <h1><%= title %></h1>
                <time>Date: <%= date %></time>
                <ul>Tags:
                    <% tags.forEach((tag, index) => { %>
                        <li>
                            <%= tag %><%= index < tags.length - 1 ? ', ' : '' %>
                        </li>
                    <% }); %>
                </ul>
            </header>
            <section>
                <%- content %>
            </section>
        </article>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>
